/* Link Global Css file  */
@import url(./partials/_globalz.css);

/* Import fonts from Fonts File  */

@import url(./fonts.css);

/* link variables file .. */

@import url(./partials/_variables.css);




.navbar{

}

.header-area{

}

.header-area .main-menu{

}

.header-area .main-menu .navbar{

}

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;

}

.header-area .main-menu .navbar .navbar-brand img{
    width: 2rem;
    height: 2rem;

}


.header-area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header-area .main-menu .nav-item .nav-link{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px gray;
    padding: 1.7rem;
    color: black;
    
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: var(--title-color);
}

.header-area .main-menu .nav-item a.active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-area .main-menu .nav-item a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*  =========================== banner Style starts =========================== */

.site-main{

}

.site-main .site-banner{
    /* border: 1px red solid; */
    background: url(../img/banner/home-banner.png) no-repeat;
    background-position: 0% 50%;

}



.site-main .site-banner .site-title{
    /* border: 1px blue solid; */

}

.site-main .site-banner .title-text{
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.site-main .site-banner h3.title-text {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner h3.title-text::after {
    content: "";
    height: 1.5rem;
    width: 23vw;
    background: var(--gradient-color);
    display: inline-block;
    margin-left: 1%;
    transform: skew(-20deg);
    margin-block: -1%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    
    
}

.site-main .site-banner h1.title-text::after {
    content: "";
    height: 1.5rem;
    width: 18vw;
    background: var(--gradient-color);
    display: inline-block;
    margin-left: 1%;
    transform: skew(-20deg);
    margin-block: 0%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    
    
}

.site-main .site-banner h4.title-text{
    font-size: large;
}

.site-main .site-banner h4.title-text::after {
    content: "";
    height: 1.5rem;
    width: 17vw;
    background: var(--gradient-color);
    display: inline-block;
    margin-left: 1%;
    transform: skew(-20deg);
    margin-block: -1%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    
    
}

.site-main .site-banner h1.title-text {

}

.site-main .site-banner .site-buttons{
    /* border: 1px green solid; */
}



.site-main .site-banner .site-buttons .primary-button{
    /* border: 1px rgb(255, 4, 4) solid; */
}



.site-main .site-banner .site-buttons .secondry-button{
    /* border: 1px rgb(238, 0, 0) solid; */
}

.site-main .site-banner .banner-image{
    /* border: 1px rgb(174, 0, 255) solid; */
    /* padding: 7rem 0;
    width: 90rem;; */


}

/*  =========================== banner Style Ends =========================== */

      
/*  =========================== About Style Starts =========================== */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px "Playfair Display", Merriweather, serif;
    letter-spacing: 1rem;
}


/*  =========================== About Style Ends =========================== */



/*  =========================== Brand Style Ends =========================== */

.site-main .brand-area {
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: 0.9rem 0rem;

    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.4s ease;


}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}



.site-main .brand-area .experince-area{
    padding-left: 1rem;
    position: relative;

}

.site-main .brand-area .experince-area span{
    display: block;
}

.site-main .brand-area .experince-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experince-area .bg-panel{
    position: absolute;
    left: -190px;
    top: 0px;
    background-color: var(--gradient-color);
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;

}
/*  =========================== Brand Style Ends =========================== */

